// Nerdz colors
@green: #51AC59;
@light-green: #61C46A;
@black:  #020C0D;
@grey: #031314;
@light-grey:  #B8C4BD;
@med-grey:  #999999;
@dark-grey: #031314;

// Font family
@sans: 'Roboto Condensed', 'Product Sans', sans-serif;
@mono: 'Source Code Pro', 'Consolas', monospace;
@title-font: 'Product Sans', 'Inter UI', sans-serif;

// Body
@body-bg: @black;
@text-color: @light-grey;

// Links
@link-color: @green;
@link-hover-color: @light-green;

// Sidebar (aside)
@sidebar-bg: @dark-grey;
@sidebar-text-color: @med-grey;
@sidebar-link-color: @med-grey;
@sidebar-link-hover-color: @light-grey;

// Buttons
@btn-bg: @green;
@btn-text-color: @black;
@btn-hover-color: @light-green;

// Tag cloud
@tag-bg: @green;
@tag-text-color: @black;
@tag-hover-color: @light-green;

// Header
@header-text-color: @light-grey;

// Footer
@footer-text-color: @light-grey;
@footer-border-color: @dark-grey;

// Relativer posts
@rel-post-border-color: @dark-grey;

// Nav
@nav-border-color: @dark-grey;

// Social buttons

@email-bg-color: #578ad6;
@facebook-bg-color: #3e5b98;
@github-bg-color: #111010;
@google-bg-color: #d93e2d;
@instagram-bg-color: #125688;
@linkedin-bg-color: #3371b7;
@medium-bg-color: #00ab6b;
@pinterest-bg-color: #c92619;
@reddit-bg-color: #ff4500;
@rss-bg-color: #f26109;
@soundcloud-bg-color: #ff5500;
@stack-overflow-bg-color: #ff9900;
@tumblr-bg-color: #36465d;
@twitter-bg-color: #4da7de;
@youtube-bg-color: #e02a20;
@gitlab-bg-color: #fca326;
@xing-bg-color: #007575;
